<div class="geolocate-content">
    <ion-card>
        <div *ngIf="commune == undefined">
            <h1>Cliquez ici pour redécouvrir votre commune</h1>
            <div class="button-geolocate" >
                <ion-button (click)="geolocateMe()">Je géolocalise ma commune</ion-button>
            </div>
        </div>
        
        <div *ngIf="commune">
            <h1>Vous êtes à {{ commune.nom }} ({{ commune.code }})</h1>
            <div style="display:flex; justify-content:center; text-align:left">
                <table width="500px">
                    <tbody>
                        <tr>
                            <td><b>Population</b></td>
                            <td>{{ commune.population }} habitants</td>
                        </tr>
                        <tr>
                            <td><b>Code postal</b></td>
                            <td>{{ commune.code }}</td>
                        </tr>
                        <tr>
                            <td><b>Département</b></td>
                            <td>{{ commune.codeDepartement }}</td>
                        </tr>
                        <tr>
                            <td><b>Région</b></td>
                            <td>{{ commune.codeRegion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin-top:50px">
                <h2>Un petit point météo</h2>
                <a href="{{ url_block }}"><img src="{{ url_img }}" width="650" height="250" /></a>
            </div>
        </div>   
    </ion-card>
</div>
