<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Note ta commune
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Note ta commune</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to noter ta commune ?</strong>
    <p>Let's do noter ta commune <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Note ta commune</a></p>
    <test-balise></test-balise>
  </div>
</ion-content>
