<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Note ta commune
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Note ta commune</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-communes></app-communes>
    <div>
      <ion-card id="bandeau-home-page">
        <ion-card-content>
          <div style="width:35%; margin:auto;">
            <h1><i>"Qui ne note point sa commune est un sot !"</i></h1>
            <h2 style="text-align:right"><i>Ghandi</i></h2>
          </div>
          <div>
            <ion-button href="/note-commune">Je note ma commune !</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
