<ion-content [fullscreen]="false">

  <div id="container">
    <app-communes></app-communes>
    <div>
      <ion-card id="bandeau-home-page">
        <ion-card-content>
          <div style="width:35%; margin:auto;">
            <h1><i>"Qui ne se renseigne point sur sa commune est un sot !"</i></h1>
            <h2 style="text-align:right"><i>Ghandi</i></h2>
            <img src="https://static.lpnt.fr/images/2022/04/05/23029844lpw-23030629-article-jpg_8675054_660x287.jpg" alt="ss">
          </div>
          <div>
            <ion-button href="/note-commune">Je note ma commune !</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
